.section-toggler {
  transition: transform 0.3s;
}
.section-toggler.open {
  transform: rotate(-180deg);
}
.header {
  border: 1px solid black;
  border-radius: 4px;
  margin-top: 2px;
  margin-bottom: 2px;
}
