@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
/*
 font-family: "Lora", serif;
 font-family: "Raleway", sans-serif;
*/
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.hidden {
  display: none;
}
.invis {
  visibility: hidden;
}
.pointer {
  cursor: pointer;
}
html {
  position: relative;
}
body {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  min-height: 100vh;
  padding-bottom: 80px;
}
.wide-input {
  width: 300px;
}
.update-form {
  min-height: 525px;
  width: 300px;
}
.global-error {
  top: 20%;
  z-index: 2000;
}
.active {
  font-weight: 700;
}
.line-right {
  border-right: 2px solid black;
  margin-right: 10px;
  padding-right: 10px;
}
.line-right-white {
  border-right: 2px solid white;
}
.hovered-link:hover {
  text-decoration: underline;
}
.profile-img-mini {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
/*Create an Article */
.article,
.article * {
  font-family: "Lora", serif !important;
  word-wrap: break-word;
}
.article img {
  max-width: 100%;
  height: auto;
}
.article-body {
  color: black !important;
}
.tox .tox-statusbar__branding svg {
  display: none;
}
/*Articles*/
@media (max-width: 767px) {
  .articles-column {
    height: 200px;
  }
}
.article-card {
  transition: background-color 0.3s ease-in;
}
.article-card:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.article-card-body,
.article-card-body * {
  font-family: "Lora", serif;
  font-size: 16px !important;
}
/*loading animations*/
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid black;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: black transparent transparent transparent;
}
.lds-ring.notification {
  width: 15px;
  height: 15px;
}
.lds-ring.notification div {
  width: 10px;
  height: 10px;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 15px; /* Adjusted width */
  height: 15px; /* Adjusted height */
}

.lds-ellipsis div {
  position: absolute;
  top: 6px; /* Adjusted top position */
  width: 3px; /* Adjusted width of dots */
  height: 3px; /* Adjusted height of dots */
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 4px; /* Adjusted left position */
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 1px; /* Adjusted left position */
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 6px; /* Adjusted left position */
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 12px; /* Adjusted left position */
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(9px, 0); /* Adjusted translation */
  }
}
/*Search*/
.search-card-text {
  background-image: linear-gradient(to right, #000, #000 50%, #000 50%);
  background-size: 200% 100%;
  background-position: -100%;
  /* display: inline-block; */
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

.search-card-text:before {
  content: "";
  background: #000;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

.search-card-text:hover {
  background-position: 0;
}

.search-card-text:hover::before {
  width: 100%;
}
/*Profile*/
.profile-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
/*Notification*/
.notifications-container {
  width: 350px;
  max-height: 300px;
  left: calc(50% - 175px);
}
