@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
/*
 font-family: "Lora", serif;
 font-family: "Raleway", sans-serif;
*/
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.hidden {
  display: none;
}
.pointer {
  cursor: pointer;
}
html {
  position: relative;
}
body {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  min-height: 100vh;
  padding-bottom: 80px;
}
.wide-input {
  width: 300px;
}
.update-form {
  min-height: 525px;
}
.global-error {
  top: 20%;
  z-index: 2000;
}
/*Create an Article */
.article,
.article * {
  font-family: "Lora", serif !important;
  color: black !important;
}
.tox .tox-statusbar__branding svg {
  display: none;
}
/*Articles*/
@media (max-width: 767px) {
  .articles-column {
    height: 200px;
  }
}
.article-card {
  transition: background-color 0.3s ease-in;
}
.article-card:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.article-card-body,
.article-card-body * {
  font-family: "Lora", serif;
  font-size: 16px !important;
}
/*loading animation*/
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid black;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: black transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
