@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");
$primary: #00a9a5;
$secondary: #0b5351;
$info: #092327;
$dark-primary: $info;
:root {
  --font-primary: "Nunito", sans-serif;
  --font-secondary: "Libre Baskerville", serif;
  --font-article: "Jost", sans-serif;
  --color-primary: #{$primary};
  --color-secondary: #{$secondary};
  --color-info: #{$info};
}

body.dark {
  background-color: #040e10;
  --color-primary: #{$dark-primary};
  --color-info: #fff;
}

code {
  background-color: #{$secondary};
  color: white !important;
}

@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

$dark-theme-colors: (
  "dark-primary": $dark-primary,
);

$theme-colors: map-merge($theme-colors, $dark-theme-colors);
$form-check-input-checked-bg-color: $secondary;

@import "bootstrap/scss/bootstrap";

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.hidden {
  display: none;
}
.invis {
  visibility: hidden;
}
.unstyled-link {
  text-decoration: none;
  color: var(--color-info);
}
.hovered-link:hover {
  text-decoration: underline;
}
.pointer {
  cursor: pointer;
}
html {
  position: relative;
}
body {
  font-family: var(--font-primary);
  color: var(--color-info);
  font-optical-sizing: auto;
  margin-bottom: 93px;
  min-height: calc(100vh - 93px);
}
.wide-input {
  max-width: 425px;
}
.update-form {
  min-height: 525px;
  width: 300px;
}
.global-error {
  top: 20%;
  z-index: 2000;
}
.active {
  font-weight: 700;
}
.line-right {
  border-right: 2px solid var(--color-info);
  margin-right: 10px;
  padding-right: 10px;
}
.profile-img-mini {
  width: 50px;
  max-width: 50px;
  height: 50px;
  border-radius: 50%;
}
.btn-xl {
  font-size: 35px;
}
.btn-l {
  font-size: 25px;
}
.w-90 {
  width: 90% !important;
}
.font-secondary {
  font-family: var(--font-secondary);
}
.image-wrapper {
  display: flex;
  justify-content: center;
  height: 200px;
}
/*Homepage*/
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("/images/hero-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 700px;
}
.call-to-action:hover {
  border: solid 2px #fff !important;
}
.hero-3d {
  text-shadow: 0.25px 0.25px 0 hsl(174, 5%, 80%),
    0.5px 0.5px 0 hsl(174, 5%, 75%), 0.75px 0.75px 0 hsl(174, 5%, 70%),
    1px 1px 0 hsl(174, 5%, 66%), 1.25px 1.25px 0 hsl(174, 5%, 64%),
    1.5px 1.5px 0 hsl(174, 5%, 62%), 1.75px 1.75px 0 hsl(174, 5%, 61%),
    2px 2px 0 hsl(174, 5%, 60%), 0 0 2px rgba(0, 0, 0, 0.05),
    0.25px 0.75px 2px rgba(0, 0, 0, 0.2), 0.75px 1.25px 4px rgba(0, 0, 0, 0.2),
    1.25px 2.5px 6px rgba(0, 0, 0, 0.2), 2.5px 2.5px 6px rgba(0, 0, 0, 0.2),
    5px 5px 5px rgba(0, 0, 0, 0.3);
}
/*Create an Article+article */

.article,
.article * {
  font-family: var(--font-article) !important;
  word-wrap: break-word;
}
.article img {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}
.tox .tox-statusbar__branding svg {
  display: none;
}
/*Articles*/
.no-articles-background {
  background-image: url("/images/empty-articles.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 400px;
}
.article-card {
  transition: box-shadow 0.3s ease;
}
.article-card:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
.article-card-inner-html,
.article-card-inner-html * {
  font-family: var(--font-article);
  font-size: 16px !important;
  color: var(--color-info);
}
.article-card-inner-html img {
  display: none;
}
/*loading animations*/
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid var(--color-info);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: var(--color-info) transparent transparent transparent;
}
.lds-ring.notification {
  width: 15px;
  height: 15px;
}
.lds-ring.notification div {
  width: 10px;
  height: 10px;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 15px; /* Adjusted width */
  height: 15px; /* Adjusted height */
}

.lds-ellipsis div {
  position: absolute;
  top: 6px; /* Adjusted top position */
  width: 3px; /* Adjusted width of dots */
  height: 3px; /* Adjusted height of dots */
  border-radius: 50%;
  background: var(--color-info);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 4px; /* Adjusted left position */
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 1px; /* Adjusted left position */
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 6px; /* Adjusted left position */
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 12px; /* Adjusted left position */
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(9px, 0); /* Adjusted translation */
  }
}
/*Search*/
.search-card-text {
  background-image: linear-gradient(
    to right,
    var(--color-info),
    var(--color-info) 50%,
    var(--color-info) 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  /* display: inline-block; */
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}
.search-card-text:before {
  content: "";
  background: var(--color-info);
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}
.search-card-text:hover {
  background-position: 0;
}
.search-card-text:hover::before {
  width: 100%;
}
/*Profile*/
.profile-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
/*About*/
.about-link {
  background: linear-gradient(
      to right,
      rgba(100, 200, 200, 1),
      rgba(100, 200, 200, 1)
    ),
    linear-gradient(
      to right,
      rgba(255, 0, 0, 1),
      rgba(255, 0, 180, 1),
      rgba(0, 100, 200, 1)
    );
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

a:hover {
  background-size: 0 3px, 100% 3px;
}
/*Not found*/
.not-found-img {
  background-image: url("/images/not-found.jpg");
  width: 250px;
  height: 250px;
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 50%;
  background-position: bottom;
}
